<%- include('header', current, page_structure, parent_page); %>

<div class="container">
    <h1>Exkursionen</h1>
    <p>
        Hier werden alle anstehenden und vergangenen Exkursionen der ETH Lerngruppe präsentiert. Eventuell wird hier in Kürze auch ein Tool folgen, mit welchem
        neue Exkursionen erstellt und bearbeitet werden können. Die Zeit bis zum erscheinen dieses Tools verhält sich jedoch direkt proportional zum Arbeitslast
        des Chefentwicklers.
    </p>
</div>

<%- include('footer'); %>