body {
    background-image: url(vector-flat-seamless-texture-pattern-happy-birthday_51635-1153.jpg);
    background-repeat: repeat;
    color: #0D3954;
}

.container {
    background-color: wheat;
}

.curly_font {
    font: 400 25px/1.2 'Merienda One', Helvetica, sans-serif;
    text-shadow: 3px 3px 3px #fff;
}